.saved-news-header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
}

.saved-news-header__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 104px 56px;
  max-width: 1440px;
  width: 100%;
  position: relative;
}

.saved-news-header__section-name {
  margin: 0 0 28px;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__title {
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
  max-width: 530px;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 1.15;
  color: rgba(26, 27, 34, 1);
}

.saved-news-header__keywords {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(26, 27, 34, 1);
}

.saved-news-header__keywords_bold {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .saved-news-header__wrapper {
    padding: 24px 40px 32px;
  }

  .saved-news-header__section-name {
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 1.714;
  }

  .saved-news-header__title {
    margin: 0 0 16px;
    max-width: 336px;
    font-size: 30px;
    line-height: 1.13;
  }
}

@media screen and (max-width: 500px) {
  .saved-news-header__wrapper {
    padding: 8px 16px 32px;
  }

  .saved-news-header__section-name {
    margin: 0 0 16px;
    font-size: 12px;
    line-height: 2;
  }

  .saved-news-header__title {
    margin: 0 0 50px;
    max-width: 228px;
  }
}